.banner-img-left {
  display: flex;
  height: 240px;
}

.banner-card-img {
  width: 1500px;
  height: 210px;
  overflow: hidden;
}

.banner-card-img img {
  transition: transform .5s ease;
  &:hover {
    transform: scale(1.2);
  }
}

.banner-img-left img {
  height: 210px;
}

.banner-card-text {
  background-color: $dark-green;
  width: 1500px;
  height: 210px;
  color: $light-text;
  position: relative;
}

.banner-card-text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-card-text-center h5 {
  font-size: 22px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
