.long-light-img-right {
  display: flex;
  flex-direction: row-reverse;
  height: 630px;
  margin-bottom: 30px;
}

.long-light-card-img {
  width: 50%;
}

.long-light-card-img img {
  height: 630px;
  width: 100%;
}

.long-light-card-text {
  background-color: $light-green;
  width: 50%;
  color: $dark-green;
  position: relative;
}

.long-light-card-text h5 {
  font-size: 60px;
  margin: 0;
}

.long-light-card-text p {
  font-size: 25px;
  line-height: 40px;
}

.long-light-card-text-center {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
